// MINTING DIV
.mintingDiv {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mintingDiv div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.mintingDiv h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
}
.mintingDiv button {
    background-color: brown;
    color: white;
    font-size: large;
    padding: 0.2rem 1.5rem;
}

// Normal Modal
.full-overview-dialog {
    padding: 0px 0px 30px 30px;
}
.overview-container {
    flex-flow: row !important;
    padding: 0px 0px 30px 30px;
}
.close-div {
    padding-left: 10px;
}
.close-icon {
    width: 24px;
    min-width: unset;
    display: flex;
    justify-content: center;
}
.mintForm {
    display: block;
}
.whale-model {
    margin-top: 50px;
}
.full-whale-model {
    margin-top: 8px;
}
.whale-name {
    margin: 0;
}
.whale-info {
    text-align: left;
}
.whale-info > h1 {
    margin: 0;
}
.mat-dialog-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem !important;
}

.whales-quantity {
    border: solid lightgray 1px;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}
.mat-form-field {
    width: 100%;
}
.whales-price {
    border: solid lightgray 1px;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}
.whales-price h3 {
    margin: 0;
}
.mat-dialog-actions {
    margin: 0.1rem 0;
    display: flex;
    justify-content: center;
}

.price-div {
    display: flex;
}
.price-div img {
    width: 2rem;
    height: 2rem;
}
.price-div h1 {
    margin: 0 0 0 0.5rem;
    font-weight: 600;
}
.price-div em {
    align-self: end;
}

.primaryButton {
    background-color: #0098ff;
    color: white;
}