<div [class]="data.simpleMode === true && !data.mint6 ? 'full-overview-dialog' : ''">
    <div fxLayout="row" [class]="data.simpleMode === true && !data.mint6 ? '' : 'overview-container'">
        <div fxFlex="100%" fxLayout="row">
            <div [fxFlex]="data.simpleMode === true && !data.mint6 ? '100%' : '60%'" fxLayout="column" [class]="data.simpleMode === true && !data.mint6 ? 'full-whale-model' : 'whale-model'">
                <app-model-visualizer *ngIf="data.simpleMode !== true && !data.mint6" [random]="false" [width]="420" [height]="400" [whaleUrl]="data?.whale.urlAsset" [whaleName]="data?.whale.name" [name]="data?.whale.name" [isCover]="false"></app-model-visualizer>
                <div *ngIf="data.simpleMode === true && !data.mint6">
                    <h1 class="whale-name"><b>{{data?.whale.name}}</b></h1>
                    <app-model-visualizer [random]="false" [height]="500" [whaleName]="data?.whale.name" [whaleUrl]="data?.whale.urlAsset" [name]="data?.whale.name" [isCover]="false"></app-model-visualizer>
                </div>
                <app-model-visualizer *ngIf="data.mint6 === true" [random]="true" [width]="130" [height]="190" [whaleName]="data?.whale.name" [name]="data?.whale.name" [isCover]="false"></app-model-visualizer>
            </div>
            <div fxFlex="40%" fxLayout="column" class="whale-info" *ngIf="data.simpleMode !== true">
                <form class="mintForm" [formGroup]="mintForm" (ngSubmit)="onSubmit()">
                    <h1 mat-dialog-title>
                        {{data.mint6 ? 'Random' : data?.whale.name}}
                        {{data.mint6 === true && data.totalNftsLeft < 1 ? "(Out of Stock)" : data.mint6 !== true && data?.whale.unsoldQty < 1 ? "(Out of Stock)" : ""}}
                    </h1>
                    <div class="whales-quantity">
                        <h3>Quantity to mint:</h3>
                        <mat-form-field appearance="fill">
                            <div *ngIf="data?.whale.saleable">
                                <input *ngIf="!data?.hasYPO" matInput disabled value="1">
                                <input *ngIf="data?.hasYPO && !data.mint6 && data?.whale.unsoldQty > 0" matInput placeholder="1" formControlName="quantity" [(ngModel)]="whaleQuantity" [value]="whaleQuantity" min="1" [max]="data?.whale.unsoldQty" type="number">
                                <input *ngIf="data?.hasYPO && !data.mint6 && data?.whale.unsoldQty < 1" matInput disabled placeholder="0">
                                <input *ngIf="data?.hasYPO && data.mint6" matInput disabled min="1" [value]="whaleQuantity" type="number">
                                <mat-error *ngIf="quantity.errors?.pattern && !quantity.errors.required">
                                    Please enter a valid quantity
                                </mat-error>
                                <mat-error *ngIf="quantity.errors?.required">
                                    Whale's quantity is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="quantity.errors?.max && data?.whale.unsoldQty > 0">
                                    Whale's quantity cannot exceed the stock of {{data?.whale.unsoldQty}}
                                </mat-error>
                            </div>
                            <div *ngIf="!data?.whale.saleable">
                                <input matInput disabled value="0">
                            </div>
                        </mat-form-field>
                        <h3><b>{{data.mint6 === true ? data.totalNftsLeft : data?.whale.unsoldQty}} left</b></h3>
                    </div>
                    <div class="whales-price">
                        <h3>Current price</h3>
                        <div class="price-div">
                            <img [src]="data.coin === 'eth' ? '../../assets/ethereum.png' : '../../assets/matic.png'" alt="">
                            <h1>{{data.mint6 ? 1 : data.web3.utils.fromWei(whaleValue.toString())}}</h1>
                            <em *ngIf="coin !== undefined">(${{(data.mint6 ? currentPrice * 1 : currentPrice * convertPriceToValue(data.web3.utils.fromWei((whaleValue).toString()))).toFixed(2)}})</em>
                        </div>
                        <h3>Total</h3>
                        <div class="price-div">
                            <img [src]="data.coin === 'eth' ? '../../assets/ethereum.png' : '../../assets/matic.png'" alt="">
                            <h1>{{data.mint6 ? 1 : data.web3.utils.fromWei((whaleQuantity * whaleValue).toString())}}</h1>
                            <em *ngIf="coin !== undefined">(${{(data.mint6 ? 1 * currentPrice : whaleQuantity * currentPrice * convertPriceToValue(data.web3.utils.fromWei(whaleValue.toString()))).toFixed(2)}})</em>
                        </div>
                        <div mat-dialog-actions *ngIf="data?.whale.saleable">
                            <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
                            <button mat-raised-button [disabled]="this.quantity.errors !== null || (data.mint6 === true && data.totalNftsLeft < 1) || (data.mint6 !== true && data?.whale.unsoldQty < 1)" type="submit" class="primaryButton">Mint</button>
                        </div>
                        <div mat-dialog-actions *ngIf="!data?.whale.saleable">
                            <h3><b>Special Edition - not for direct sale</b></h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div [class]="data.simpleMode === true ? 'close-div' : ''">
            <button mat-raised-button class="close-icon" color="warn" (click)="onNoClick()"><mat-icon>close</mat-icon></button>
        </div>
    </div>
</div>
<div *ngIf="isMinting" class="mintingDiv">
    <div *ngIf="!minted.state">
        <mat-spinner></mat-spinner>
        <h1>Minting in Process...</h1>
    </div>
    <div *ngIf="minted.state">
        <h1 *ngIf="minted.success">You just did the mint of {{whaleQuantity}} {{data?.whale.name}}</h1>
        <h1 *ngIf="!minted.success">There was a problem during the minting, please check your Tx on Metamask</h1>
        <button mat-raised-button color="info" (click)="finishMinting()">Close</button>
    </div>
</div>
