<div class="interface">
  <div class="content">

    <div class="container top-bar padding0" fxLayout="row">
      <div fxFlex="20%">
        <img src="../assets/YWhales.png" style="height:40px;">
      </div>
      <div class="container nav-bar-links padding0" fxFlex="80%" fxLayout="row">
        <a class="nav-bar-link" mat-button target="_blank" href='https://etherscan.io/address/0x7e15d0cd634ae9f21c70e95bcc38253394d56184'><b>Contract</b></a>
        <p class="nav-bar-link"><b>|</b></p>
        <a class="nav-bar-link" mat-button target="_blank" href='https://opensea.io/collection/ywhales-crystal-whales'><b>Opensea</b></a>
        <button *ngIf="walletStatus !== 0" mat-flat-button (click)="openMetamask()"><mat-icon>account_balance_wallet</mat-icon></button>
        <div *ngIf="walletStatus === 0" class="minting-toggler">
            <button mat-flat-button *ngIf="coin === 'matic'" class="chain-button-left" (click)="switchToRopsten()"><img src="../assets/ethereum.png" class="coinIcon" width="20"></button>
            <button
                mat-flat-button
                *ngIf="coin === 'eth'"
                class="selected-chain-button-left"
                #tooltip="matTooltip"
                [matTooltip]=" 'You already have the ' + coin + 'chain selected'"
                matTooltipPosition="above"
                matTooltipHideDelay="100000"
            >
                <img src="../assets/ethereum.png" class="coinIcon" width="20">
            </button>
            <button mat-flat-button *ngIf="coin === 'eth'" class="chain-button-right" (click)="addNetworkPolyMum()"><img src="../assets/matic.png" class="coinIcon" width="20"></button>
            <button
                mat-flat-button
                *ngIf="coin === 'matic'"
                class="selected-chain-button-right"
                #tooltip="matTooltip"
                [matTooltip]=" 'You already have the ' + coin + ' chain selected'"
                matTooltipPosition="above"
                matTooltipHideDelay="100000"
            >
                <img src="../assets/matic.png" class="coinIcon" width="20">
            </button>
        </div>
        <p *ngIf="walletStatus === 0" class="address"><b>{{selectedAddress}}</b></p>
      </div>
    </div>
    <!-- <button *ngIf="walletStatus === 0" (click)=addNetworkPolyMum()>Add Poly Mumbai</button> -->

    <div class="container info-badge" fxLayout="row">
        <div class="info-icon">
            <mat-icon>info</mat-icon>
        </div>
        <div>
            <p style="color: gray;">Minting is for YWhales members only. If you have any errors pop up or outrageous gas fees, please do not mint. Please contact Mia at mia@ywhales.com or post in the Crystal Whales discord channel. If you haven't already whitelisted your wallet address, you will need to do so before minting the crystal whales. Please follow the whitelist instructions pinned in the Crystal Whales discord channel.</p>
        </div>
    </div>
    <div class="container padding0" fxLayout="row" fxLayoutGap="2%">
      <mat-card fxFlex="50%" class="y-overflowed">
        <mat-card-header class="cardTitle">
          <mat-card-title>
              <p>Mint 1</p>
            <mat-slide-toggle *ngIf="hasYPO && coin === 'eth'" [checked]="useDefault" (change)="mintToggle($event)">
              <p *ngIf="coin === 'eth'">Random</p>
            </mat-slide-toggle>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="walletStatus === 0">
            <h1 style="text-align: center;">Select your Whale:</h1>
            <div class="container whale-container" fxLayout="row">
              <carousel [arrows]="calculateVisibleCells(sortWhales(whales, hasYPO)) > 3 ? true : false" [arrowsOutside]="true" cellsToShow="3" height="300">
                <div class="carousel-cell whale-column" *ngFor="let c of generateCellsArray(calculateVisibleCells(sortWhales(whales, hasYPO))); let i = index">
                  <button mat-button *ngFor="let whale of sortWhales(whales, hasYPO) | slice : itemsPerColumn * i : (itemsPerColumn * (i + 1))" [attr.data-index]="whale.whaleId" (click)="openDialog(whale, whales, false, false, hasYPO)" class="whaleButton">{{whale.name}}</button>
                </div>
              </carousel>
            </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50%" class="y-overflowed">
        <mat-card-header class="cardTitle">
          <mat-card-title>My Collections</mat-card-title>
          <mat-icon *ngIf="walletStatus === 0" id="tokenListBtn" class="refresh" (click)="whalesService.fetchMyTokens(walletStatus, contractService, web3, selectedAddress)">refresh</mat-icon>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="walletStatus === 0" >
            <div id="tokensOfOwner">
            </div>
            <div *ngFor="let whaleWallet of myWhales; let i = index;">
              <div fxLayout="row" fxLayoutGap="2%" *ngIf="i % 2 == 0">
                <app-model-visualizer fxFlex="50%" (click)="openDialog(whaleWallet, whales, true, false, hasYPO)" [whaleUrl]="whaleWallet.urlAsset" [whaleName]="whaleWallet.name" [isCover]="true"></app-model-visualizer>
                <app-model-visualizer *ngIf="i + 1 < myWhales.length" fxFlex="50%" (click)="openDialog(myWhales[i+1], whales, true, false, hasYPO)" [whaleUrl]="myWhales[i+1].urlAsset" [whaleName]="myWhales[i + 1].name" [isCover]="true"></app-model-visualizer>
              </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="container terms">
        <h1>Terms & Conditions</h1>
        <p> While wallet addresses are anonymous, they are far from private. Balances and all transactions on an address are viewable at all times by anyone. Once addresses are used, they become tainted by the history of all transactions  they are involved with and may lead to the identification of the address holder. Learn more about how to keep your information private at https://bitcoin.org/en/protect-your-privacy, Ethereum wallets work much the same way. </p>
        <p>I understand that by providing this wallet address, I agree to receive in this address a YWhales Crystal whale which identifies the holder of the address as a member of YPO*.</p>
    </div>

</div>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
