// Header
.top-bar {
    margin-top: 1rem;
}
.minting-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
}
.coinIcon {
    margin-left: 0.5rem;
}
.chain-button-left {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: #dee1e6;
    border-radius: 1rem 0 0 1rem;
    border-right: solid black 1px;
}
.chain-button-right {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: #dee1e6;
    border-radius: 0 1rem 1rem 0;
}
.chain-button-left:hover, .chain-button-right:hover {
    background-color: #9ea0a5;
}
.selected-chain-button-left  {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: #3a8533;
    border-radius: 1rem 0 0 1rem;
    border-right: solid black 1px;
    cursor: default;
}
.selected-chain-button-right  {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: #3a8533;
    border-radius: 0 1rem 1rem 0;
    cursor: default;
}

// Links
.nav-bar-links {
    height: fit-content;
    align-items: baseline;
    justify-content: end;
}
.nav-bar-link {
    height: fit-content;
}
.address {
    color: mediumvioletred;
    margin-left: 1rem;
}

.info-badge {
    width: 75%;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.info-badge > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-badge > * p {
    margin: 0;
}
.info-icon > .mat-icon {
    margin-right: 1rem;
    color: dodgerblue;
}
.terms {
    margin-top: 1rem;
}

// Cards
.padding0 { padding: 0; }
.y-overflowed { overflow-y: auto; }
.mat-card {
    height: 500px;
    box-shadow: none;
    border: solid gray 1px;
}
.cardTitle {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mat-card-title {
    display: flex;
    align-items: center;
    margin: 0 !important;
    font-weight: bold;
}
.mat-card-title p {
    width: 100px;
    margin: 0;
    font-weight: bold;
}
.mat-divider {
    border-top-color: gray;
}
.whale-container {
    justify-content: center;
}
.carousel {
    width: calc(100% - 100px);
    z-index: 1;
}

// Slide Toggle
::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: dodgerblue; /*replace with your color*/
}
::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: lightskyblue; /*replace with your color*/
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: gray; /*replace with your color*/
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: lightgray; /*replace with your color*/
}

.mat-slide-toggle-bar{
    margin: 0 0.5rem;
}
.mat-card-header {
    margin-bottom: 1rem;
}
.mat-card-content {
    margin-top: 2rem;
}
.whale-column {
    border: solid lightgray 1px;
}

// Buttons
.primaryButton {
    background-color: #0098ff;
    color: white;
}
.secondaryButton {
    background-color: #a70865;
    color: white;
}
.ActionButton {
    min-width: unset;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #e89f45;
    color: white;
}
.ActionButton:hover {
    background-color: #97672b;
}
.whaleButton {
    width: 100%;
    padding: 0 0.5rem;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}
.whaleButton:hover {
    background-color: #0098ff;
    color: white;
    border-radius: 0;
}
.refresh {
    color: #0098ff;
}
.refresh:hover {
    transform: rotate(360deg);
    transition: all 1s ease;
    cursor: pointer;
}