/* ..-. .- - .... --- --

padding                     5, 10, 20, 30, 90
font sizes              15, 18, 28, 46
font family             system sans 400, 600, 700, 900

dark
medium              #4a5568
alt                 #718096
light               #a0aec0
lightest            #edf2f7 or #e2e8f0
purple              #c8ac7e
green               #8efdd2
red                 #eb3f5f
*/

/* = structure */

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: 'Regular';
    font-display: fallback;
    /*src: url("/assets/inter.var.woff2") format("woff2");*/
  }
  
  html { font-family: sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
  
  
  .alert { background: #8efdd2; padding: 5px 15px; border-radius: 5px; color: #1a202c; font-size: 15px; line-height: 1.6; letter-spacing: -0.009em; margin: 20px 0 40px 0; font-weight: 600; }
  
  
  * { margin: 0; padding: 0; font-family: 'Inter var', sans-serif; border: none; outline: none; box-sizing: border-box; text-decoration: none; font-size: 100%; font-weight: 400; vertical-align: baseline; }
  
  html, body { background: #fff; }
  body { font-size: 17px; line-height: 1.5; color: #333B4B; text-align: center; letter-spacing: -0.013em; }
  
  .interface { text-align: left; max-width: 1500px; margin: 0 auto; }
  .section { margin-bottom: 90px; }
  
  header { margin-top: 90px; display: grid; grid-gap: 10px; grid-template-columns: repeat(2, 1fr); align-items: center; }
      header svg { transition: ease transform 0.2s; margin: 7px 0 0 0; }
      header svg a { display: block; text-align: left; }
      header svg path { transition: ease fill 0.2s; }
      header svg:hover path { fill: #9187ff; }
      header a span { display: inline-block; text-indent: -9999em; }
      header div { text-align: right; }
  
  .newsbit { margin-bottom: 20px; }
  .newsbit span { font-size: 14px; border: 2px solid #b4ffe1; border-radius: 15px; display: inline-block; color: #4a5568; padding: 3px 20px; letter-spacing: -0.006em; }
  .newsbit span a { text-decoration: none; }
  
  .enviro { display: grid; grid-gap: 10px; grid-template-columns: 20px 1fr; margin-top: 45px; }
      .enviro svg { width: 20px; height: auto; }
      .enviro small { color: #718096; font-size: 12px; letter-spacing: 0; margin-top: 1px; }
      .enviro small a { text-decoration: underline; color: #718096; }
  
  article {}
  
  /*.callout { background: #1a202c url("/assets/above.jpg") center center no-repeat; background-size: cover; border-radius: 5px; padding: 90px; }*/
  
  .grid { display: grid; grid-gap: 30px 90px; }
      footer .grid { grid-gap: 0 90px; }
      footer .grid-three { grid-gap: 30px; }
      .pricing .grid-three { grid-gap: 30px; }
      .grid-two { grid-template-columns: repeat(2, 1fr); }
      .grid-two .pag { grid-column: span 2; }
      .grid-two .col-first { grid-column: span 2; margin-bottom: 60px; }
      footer .grid-two { grid-template-columns: repeat(2, 1fr); grid-gap: 30px; }
      .col1 { order: 2; }
      .col2 { order: 3; }
      .col3 { order: 1; }
      .grid-three { grid-template-columns: repeat(3, 1fr); }
      .grid-cat { grid-template-columns: 1fr 90px; align-items: center; }
      .callout.grid-two { grid-template-columns: 1fr 4fr; align-items: center; }
      .span-all { grid-column: 1/4; }
      .grid-one .col { margin-bottom: 30px; }
      .blog-posts .col { margin-bottom: 60px; }
  
  .brand-grid { display: grid; grid-gap: 20px; align-items: center; }
  .brand-grid div { padding: 90px 30px; border-radius: 5px; text-align: center; }
  
  .buttons { margin: 40px 0; }
  
  footer:before { content: ""; background: #edf2f7; width: 100%; height: 5px; display: block; border-radius: 5px; }
      footer .col { margin-top: 90px; }
  
  hr { margin: 20px 0 30px 0; }
  hr:before { content: ""; background: #edf2f7; width: 100%; height: 2px; display: block; border-radius: 5px; }
  
  .pag { margin-top: 40px; }
  .pag a { color: #4a5568; }
  
  .blog-img { margin: 40px -80px; }
  
  
  /* = typography  */
  
  h1, h2, h3 { color: #0C0C0D; }
  h1 a, h2 a, h3 a, h4 a { font-weight: inherit !important; }
  h1 { font-size: 65px; line-height: 1; letter-spacing: -0.042em; font-weight: 900; margin-bottom: 30px; }
  
  h2 { font-size: 29px; line-height: 1; letter-spacing: -0.022em; font-weight: 700; margin-bottom: 40px; }
      .callout h2 { color: #fff; }
      .post h2 { margin: 40px 0 20px 0; }
      .pricing .grid h2 { margin: 10px 0; }
      article h2 { margin: 30px 0 20px 0; }
      .brand article h2 { margin-top: 90px; }
      
  article h2 a { color: inherit !important; font-weight: inherit; }
  
  h3 { font-size: 21px; line-height: 1.2; letter-spacing: -0.018em; margin: 30px 0 10px 0; font-weight: 700; position: relative; }
      .home-cats h3 { margin-top: 10px; }
      footer h3 { display: inline-block; margin: 10px 0; }
      article h3 a { color: #1a202c; }
      footer h3 a { font-weight: 700; color: #1a202c; }
      footer h3 a:hover { color: #c8ac7e; }
      /* footer h3:after { content: ""; background: url("/assets/fathom-analytics.svg") center center no-repeat; background-size: 16px auto; width: 16px; height: 16px; position: absolute; right: -24px; top: 2px; } */
      .changelog h3 { margin-top: 30px; }
  
  h4 { color: #1a202c; margin: 10px 0 10px 0; font-weight: 700;  }
  
  blockquote { border-left: 3px solid #edf2f7; padding: 0 20px; margin: 30px 0; color: #4a5568; }
      article blockquote p { padding: 0; font-size: 19px; letter-spacing: -0.018em; }
      article blockquote a { font-weight: 700; }
      blockquote cite { display: block; margin: 10px 0 20px 0; }
  
  p {}
      article p, article ul, article ol { padding-bottom: 20px; }
      .grid p { font-size: 15px; line-height: 1.6; letter-spacing: -0.009em; }
      article.callout p { color: #a0aec0; padding: 0; }
  
  small { font-size: 14px; color: #697387; display: block; letter-spacing: -0.006em; }
      small.no-space { margin-top: -10px; }
      footer small { margin-bottom: 10px; font-size: 15px; color: #697387; letter-spacing: -0.009em; }
      form small { margin: 10px 0; }
      article small a { color: #697387; font-weight: 400; text-decoration: underline; }
      article small a:hover { color: #a0aec0; }
  
  u { font-weight: inherit; text-decoration: underline; }
  
  b, strong { font-weight: 600; }
  i, em { font-style: italic; font-variation-settings: 'ital' 1; }
  
  iframe { margin-bottom: 20px; }
  
  img { max-width: 100%; }
      img.bio { max-width: 180px; }
      img.testim { border-radius: 100px; overflow: hidden; width: 60px; height: 60px; margin: 20px 0 0 0; }
      img.cat { transition: ease transform 0.2s; height: 130px; }
      img.cat:hover { transform: rotate(4deg) scale(1.1); }
      img.round { border-radius: 5px; }
      img.img-center { width: 60%; display: block; margin: 20px auto; max-width: auto; }
  .podcastimg { width: 40%; float: right; margin: 0 0 40px 60px; }
  
  a { transition: ease color 0.2s; }
      article a { font-weight: 600; color: #c8ac7e; text-decoration: underline; }
      article a:hover { color: #718096; }
      .callout a { color: #a0aec0; }
      .callout a:hover { color: #fff; }
      a.button, button { padding: 12px 30px; border-radius: 5px; font-size: 15px; line-height: 1.6; font-weight: 400; margin-right: 10px; text-decoration: none; transition: ease background 0.2s; display: inline-block; letter-spacing: -0.009em; }
      .main { background: #c8ac7e; color: #fff; }
      .main:hover { background: #718096; color: #fff; }
      .alt { background: #edf2f7; color: #718096; }
      .alt:hover { background: #cbd5e0; color: #718096; }
      article h2 a { color: #1a202c; }
      article h2 a:hover { color: #718096 !important; }
  
  
  table { width: 100%; margin: 20px 0; border-spacing: 0; }
      table th { font-size: 19px; line-height: 1.2; letter-spacing: -0.016em; font-weight: 700; color: #1a202c; padding: 20px; border-bottom: 3px solid #edf2f7; }
      table td { padding: 20px; font-size: 15px; line-height: 1.6; border-bottom: 1px solid #edf2f7; }
      table.smaller td { padding: 10px; font-size: 14px; line-height: 1.6; border-bottom: 1px solid #edf2f7; letter-spacing: -0.006em; }
      table td:first-of-type, table th:first-of-type { padding-left: 0; }
  
  .right { text-align: right; }
  
  ul, ol { list-style: none; }
      article li ul, article li ol { margin-bottom: 5px; padding-bottom: 0; }
      article ul li { list-style: disc; margin-bottom: 5px; }
      article li ul li { list-style: circle; margin-bottom: 5px; }
      article ol li { list-style-type: decimal; margin-bottom: 20px; }
      article li { margin-left: 20px; padding-left: 10px; margin-bottom: 5px; }
      article li li { margin-left: 40px; padding-left: 10px; margin-bottom: 5px; }
  
      footer ul { font-size: 14px; color: #1a202c; line-height: 1.89; letter-spacing: -0.006em; }
      footer li span { font-weight: 600; }
      footer li a { font-weight: 400; color: #718096; }
      footer li.active a { color: #c8ac7e; }
      footer li a:hover { color: #c8ac7e; }
  
  article ul.checked { margin-left: 0; margin-right: 40px; }
  article ul.checked li { list-style: none; background: url("/assets/check-circle-regular.svg") left 3px no-repeat; background-size: 16px auto; margin-left: 0; margin-bottom: 10px; padding-left: 30px; font-size: 15px; letter-spacing: -0.009em; }
  article ul.checked li:before { content:"\2713\0020"; }
  
  .highlight { background-image: linear-gradient(120deg, rgba(142,253,210,.4) 0%, rgba(142,253,210,.4) 100%); background-repeat: no-repeat; background-size: 100% 6px; background-position: 0 65%; transition: ease background-size .2s; padding: 0 4px; margin: 0 -2px; }
  
  .meta { margin-top: 30px; }
  
  .tag { background: #F2F5F7; border-radius: 5px; color: #333B4B; font-size: 10px; font-weight: 600; margin-right: 10px; display: inline-block; padding: 2px 8px; text-transform: uppercase; letter-spacing: 0.026em; }
      article .tag a { text-decoration: none !important; font-weight: 500 !important; }
  
  .signin { background: #F2F5F7; border-radius: 15px; color: #333B4B; font-size: 14px; font-weight: 400; margin-right: 10px; display: inline-block; padding: 5px 20px; transition: ease .4s background; letter-spacing: -0.006em; }
  .signin:hover { background: #D3DBE6; color: #333B4B; }
  
  .author { display: grid; grid-template-columns: 70px 1fr; align-items: center; grid-column-gap: 20px; margin-bottom: 20px; }
      article .author * { padding: 0; margin: 0; }
      article .author p { font-weight: 500; }
      article .author small { margin-bottom: 5px; }
      article .author a { color: inherit; font-weight: 500; }
      article .author img { border-radius: 40px; }
  
  
  /* = forms  */
  
  form { display: grid; grid-template-columns: 1fr 90px; max-width: 530px; grid-gap: 10px; }
  input { background: #edf2f7; color: #1a202c; padding: 12px; border-radius: 5px; font-size: 15px; line-height: 1.6; font-weight: 400; margin-right: 10px; width: 100%; letter-spacing: -0.009em; }
  ::-webkit-input-placeholder { color: #718096; opacity: 1; }
  ::-moz-placeholder { color: #718096; opacity: 1; }
  :-ms-input-placeholder { color: #718096; opacity: 1; }
  :-moz-placeholder { color: #718096; opacity: 1; }
  
  
  
  
  
  /* = media queries */
  
  @media screen and (max-width: 880px) {
  .blog-img { margin: 40px 0; }
  
  }
  
  @media screen and (max-width: 730px) {
      body { padding: 20px; font-size: 15px; letter-spacing: -0.009em; }
      header { margin-top: 0; }
      .section { margin-bottom: 30px; }
      footer .col { margin-top: 30px; }
  
      .col { margin-bottom: 30px; width: 100%; clear: both; }
      .callout { padding: 30px; }
      .grid, form { display: block; max-width: 100%; }
      .hide { display: none; }
      footer .grid-three { grid-gap: 30px; display: grid; grid-template-columns: repeat(3, 1fr); }
  
      h1 { font-size: 28px; letter-spacing: -0.021em; font-weight: 700; }
      h2 { font-size: 19px; letter-spacing: -0.016em; }
      h3 { font-size: 15px; letter-spacing: -0.009em; }
      a.button, button, input { width: 100%; margin-bottom: 10px; display: block; text-align: center;}
      img.cat { float: right; margin: 0 0 30px 30px; }
      .ftp { margin-top: 15px; max-width: 50px; }
  
      img.img-center { width: 100%; display: block; margin: 20px auto; max-width: auto; }
  
  .podcastimg { display: none; }
  .blog-img { margin: 40px 0; }
  
  .shop-col { margin-bottom: 40px; }
  }
  
  
  /* code formatting */
  #wrapper{
    margin: 20px auto;
  }
  #codes{
    border-bottom: 1px solid #5F5F5F;
    background-color: #34312c;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  #codes>li {
    padding: 8px 0px 8px 8px;
  }
  #codes>li>a {
    position: relative;
    display: block;
    padding: 3px 15px;
    border-radius: 4px;
    color: #fefdf9;
    cursor: pointer !important;
  }
  #codes>li>a:active,
  #codes>li>a:focus,
  #codes>li>a:hover,
  #codes>li.active>a,
  #codes>li.active>a:focus,
  #codes>li.active>a:hover{
    position: relative;
    display: block;
    padding: 3px 15px;
    border-radius: 4px;
    color: #fdb839;
    cursor: default;
    background-color: #655F56;
    border: 1px solid #3e3a33;
    border-bottom-color: transparent;
  }
  /*Override prettify design*/
  pre, code{
    white-space: pre;
    border: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  /* UXCam scheme for google prettify*/
  pre.prettyprint { display: block; background-color: #3e3a33;}
  pre .nocode { background-color: none; color: #000; }
  pre .str { color: #fdb839; } /* string */
  pre .kwd { color: #fdb839; }
  pre .com { color: #B3B3B3; } /* commen */
  pre .typ { color: #fdb839; } /* type */
  pre .lit { color: #cd5c5c; } /* literal */
  pre .pun { color: #fff; }    /* punctuation */
  pre .pln { color: #fdb839; }    /* plaintext */
  pre .tag { color: #fdb839; } /* html/xml tag */
  pre .atn { color: #bdb76b; } /* attribute name */
  pre .atv { color: #fdb839; } /* attribute value */
  pre .dec { color: #fdb839; } /* decimal */
  
  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums { 
    margin-top: 0; 
    margin-bottom: 0; 
    color: #AEAEAE; 
  } 
  /* IE indents via margin-left */
  li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8 { 
    list-style-type: decimal !important; 
  }
  /* Alternate shading for lines */
  li.L1,li.L3,li.L5,li.L7,li.L9 { 
    background-color: transparent !important;
  }
  .linenums li{
    border-left: 1px solid #656565;
  }
  
  @media print {
    pre .str, code .str { color: #060; }
    pre .kwd, code .kwd { color: #006; }
    pre .com, code .com { color: #600; }
    pre .typ, code .typ { color: #404; }
    pre .lit, code .lit { color: #044; }
    pre .pun, code .pun { color: #440; }
    pre .pln, code .pln { color: #000; }
    pre .tag, code .tag { color: #006; }
    pre .atn, code .atn { color: #404; }
    pre .atv, code .atv { color: #060; }
  }
  
  
  /*modals */
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .fa {
    padding: 4px;
    width: 200px;
  }
  
  .fa::before {
    display: inline-block;
    /* .fa-fw */
    width: 1.28571429em;
    text-align: center;
  }
  
  .fa::after {
    content: attr(class);
    font-family: consolas, monospace;
    font-size: 15px;
    /* .code */
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-left: 5px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #2A79FF !important;
}
