model-viewer {
    width: 100%;
    height: 230px;
    background: linear-gradient(360deg, rgba(144,144,144,1) 0%, rgba(231,231,231,1) 100%);
    border: solid gray 1px;
    border-radius: 1rem;
}

.randomWhale {
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.randomWhale > h1 {
    color: white;
    font-size: 5rem;
    transform: rotate(-45deg);
}
.random-whale-container {
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.cover {
    margin-bottom: 1rem;
    cursor: pointer;
}
.cover-div {
    display: flex;
    flex-flow: column;
    align-items: center;
}