<div *ngIf="!random">
    <model-viewer
    *ngIf="!isCover"
    style= "height: {{height}}px; width: {{width}}px;"
       [src]="whaleUrl"
    auto-rotate
    autoplay
    camera-controls
    ></model-viewer>
    <div *ngIf="isCover" class="cover-div">
        <p><b>{{whaleName}}</b></p>
        <model-viewer
        class="cover"
        style= "height: {{height}}px; width: {{width}}px;"
        [src]="whaleUrl"
        ></model-viewer>
    </div>
</div>
<div *ngIf="random">
    <div class="random-whale-container" fxFlow="column">
        <div *ngFor="let rows of whalesRows" fxFlow="row">
            <div style="display: flex;" *ngFor="let n of whalesPerRow" fxFlex="33%">
                <img
                class="random-whale-image"
                src="../../assets/randomWhale.png"
                style= "height: {{height}}px; width: {{width}}px;"
                alt="">
                <div class="randomWhale" style= "height: {{height}}px; width: {{width}}px;">
                </div>
            </div>
        </div>
    </div>
</div>
